/*My Styles*/

/*Logo Villa-Ãngela*/

.villa-logo {
  width: 450px;
  height: auto;
  margin-left: 30px;
}

@media only screen and (max-width: 600px) {
  .villa-logo {
    width: 75%;
    margin-left: 0;
  }
}

/*Navbar*/

.brand-logo {
  margin-top: 5px;
  margin-left: 0;
}

/*Sidenav*/

.sidenav-trigger {
  padding: 6px 0px;
}

.button-sidenav {
  font-size: 150%;
  color: white;
  padding: 12px 20px;
  cursor: pointer;
}

.push-sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  display: block;
  transition: 0.5s;
  padding-top: 60px;
}


.push-sidenav li {
  list-style: none;
  float: none;
  line-height: 48px;
}

.push-sidenav li.active {
  background-color: rgba(0, 0, 0, 0.05);
}

.push-sidenav li > a {
  color: rgba(0, 0, 0, 0.87);
  display: block;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  line-height: 48px;
  padding: 0 32px;
}

.push-sidenav li > a:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.push-sidenav .collapsible {
  margin: 0;
}

.push-sidenav .collapsible {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.push-sidenav .collapsible li {
  padding: 0;
}

.push-sidenav .collapsible-header {
  background-color: transparent;
  border: none;
  line-height: inherit;
  height: inherit;
  padding: 0 32px;
}

.push-sidenav .collapsible-header:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.push-sidenav .collapsible-header i {
  line-height: inherit;
}

.push-sidenav .collapsible-body{
  padding: 0;
  border: 0;
  background-color: #fff;
}

.push-sidenav .collapsible-body li a {
  padding: 0 64px;
}

.push-sidenav .collapsible-body a:hover{
  background-color: rgba(0, 0, 0, 0.05);
}

#content {
  margin-left: 250px;
  transition: 0.5s;
}

@media only screen and (max-width: 600px) {
  #content {
    margin-left: 0px;
  }
}

/*scrollbar*/

.scrollbar::-webkit-scrollbar {
  width: 7px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #03a9f4;
  border-radius: 0;
}

/*configuracion text-imput*/

.row .input-field {
  margin: 0;
}

.row .input-field input {
  border: 1px solid #9e9e9e;
  border-radius: 5px;
  padding: 0 0 0 20px;
}

.input-field label {
  color: #9e9e9e;
  padding: 0 20px 0px 20px;
}

.input-field input:focus + label {
  color: #03a9f4 !important;
  background-color: #ffffff;
  margin-left: 20px;
  margin-right: 20px;
  padding: 0 10px 0px 10px;
}

.row .input-field input:focus {
  border-top: 2px solid #03a9f4 !important;
  border-left: 2px solid #03a9f4 !important;
  border-right: 2px solid #03a9f4 !important;
  border-bottom: 0.5px solid #03a9f4 !important;
}

.input-field > label:not(.label-icon).active {
  -webkit-transform: translateY(-10px) scale(0.8);
          transform: translateY(-10px) scale(0.8);
}

 textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #689f38;
  -webkit-box-shadow: 0 1px 0 0 #689f38;
  box-shadow: 0 1px 0 0 #689f38;
}

.input-field .helper-text {
  font-size: 16px;
}

/*hr-text*/

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: .5;
}

.hr-text:before {
  content: '';
  background: #03a9f4;
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px; 
}

.hr-text:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: black;
  padding: 0 .5em;
  line-height: 1.5em;
  color: #03a9f4;
  background-color: #ffffff;
}

/*Button Group*/

.btn-group {
  position: relative;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle;
}

.btn-group>.btn:first-child:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-group>.btn:not(:first-child):not(:last-child) {
  border-radius: 0;
}

.btn-group>.btn:last-child:not(:first-child),
.btn-group>.dropdown-toggle:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.btn-group>.btn-border:first-child:not(:last-child) {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top: 2px solid #33691e;
  border-left: 2px solid #33691e;
  border-right: 2px solid #33691e;
  border-bottom: 2px solid #33691e;

}

.btn-group>.btn-border:not(:first-child):not(:last-child) {
  border-top: 2px solid #33691e;
  border-right: 2px solid #33691e;
  border-bottom: 2px solid #33691e;
  border-radius: 0;
}

.btn-group>.btn-border:last-child:not(:first-child) {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: 2px solid #33691e;
  border-right: 2px solid #33691e;
  border-bottom: 2px solid #33691e;
}

.btn-group>.btn-inactive {
  background-color: #ffff;
}

.btn-group>.btn-inactive {
  background-color: #ffff;
}

.btn-group>.btn-inactive span {
  color: #000000;
}

.btn-group>.btn {
  -webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0px rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0px rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0);
}

.btn-group>.btn-inactive:hover {
  background-color: #558b2f;
}

.btn-group>.btn:hover {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}